@media (min-width: 980px) {
  body {
    padding-top: 60px;
    padding-bottom: 42px;
  }
}

select:invalid {
  color: lightgray;
}

.modal-backdrop {
  opacity: 0.7;
  &.in {
    opacity: .7;
  }
}

h5.modal-title {
  display: inline;
}

.preload {
  width: 128px;
  height: 128px;
  position: fixed;
  top: 40%;
  left: 45%;
  background: url('/img/preload.gif');
}

.btn-xs, .btn-group-xs>.btn {
    padding: 0.15rem 0.3rem;
    font-size: 0.775rem;
    border-radius: 0.2rem;
}

.form-control-xs,
.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
  padding: 0.15rem 0.3rem;
  font-size: 0.775rem;
  border-radius: 0.2rem;
}