<form (ngSubmit)="massProductAction()" class="form-inline" #actionForm>
    <input type="text" required id="vendor" name="vendor" class="form-control" [(ngModel)]="selectedVendor" list="vendorList"
        placeholder="Select Vendor">
        <datalist id="vendorList">
            <option *ngFor="let vendor of vendors">{{vendor.name}}</option>
        </datalist>
        <label for="upFile" class="mr-sm-2">File to upload (CSV):</label>
        <input id="upFile" type="file" class="form-control" name="file" (change)="fileSelected($event)" accept=".csv">
        <button type="submit" class="btn btn-primary" (click)="action='UPLOAD'">Upload</button>
        <button type="submit" class="btn btn-danger" (click)="action='DELETE'">Delete all</button>
        <button type="submit" class="btn btn-default" (click)="action='NEW_PRODUCT'" data-toggle="modal" data-target="#productEditor"><i class="fa fa-plus"></i> Add product</button>
        <button type="submit" class="btn btn-default" (click)="action='DOWNLOAD'"><i class="fa fa-download"></i> Download</button>
        <div class="alert alert-success" *ngIf="message==='uploadSuccess'">Upload successful</div>
        <div class="alert alert-danger" *ngIf="message==='uploadFailed'">Upload failed</div>
        <div class="alert alert-success" *ngIf="message==='deleteSuccess'">Delete successful</div>
        <div class="alert alert-danger" *ngIf="message==='deleteFailed'">Delete failed</div>
</form>
<nav aria-label="Product navigation">
    <ul class="pagination">
        <li class="page-item" [class.disabled]="products.first"><a class="page-link" (click)="page('PREV',0)">Previous</a></li>
        <li *ngFor="let ct of getPages()" class="page-item"><a class="page-link" (click)="page('GO',ct)">{{ct}}</a></li>
        <li class="page-item" [class.disabled]="products.last"><a class="page-link" (click)="page('NEXT',0)">Next</a></li>
    </ul>
</nav>
<table class="table table-sm table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>Vendor</th>
            <th>Product name</th>
            <th>URL</th>
            <th>Image URL</th>
            <th colspan=2>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products.content">
            <td>{{p.vendor.name}}</td>
            <td>{{p.literal}}</td>
            <td>{{p.url}}</td>
            <td>{{p.imgUrl}}</td>
            <td><button class="btn btn-primary btn-sm" (click)="selectProduct(p)" data-toggle="modal" data-target="#productEditor"><i class="fa fa-edit"></i >Edit</button></td>
            <td><button class="btn btn-danger btn-sm" (click)="deleteProduct(p.id)"><i class="fa fa-trash"></i> Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<div id="productEditor" class="modal" tabindex="-1" role="dialog" aria-labelledby="productEditorTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productEditorTitle">Product: {{selectedProduct.literal}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <form class="modal-body" (ngSubmit)="saveProduct()">
                <div class="form-group">
                    <label for="literal">Product name</label>
                    <input id="literal" class="form-control" type="text" name="literal" required [(ngModel)]="selectedProduct.literal">
                </div>
                <div class="form-group">
                    <label for="url">URL</label>
                    <input id="url" class="form-control" type="url" name="url" required [(ngModel)]="selectedProduct.url">
                </div>
                <div class="form-group">
                    <label for="imgUrl">Image URL</label>
                    <input id="imgUrl" class="form-control" type="url" name="imgUrl" [(ngModel)]="selectedProduct.imgUrl">
                </div>
                <div class="card" *ngFor="let qs of qsets">
                    <h3 class="card-title">{{qs.literal}}</h3>                    
                    <div class="card-body" *ngFor="let q of choiceQuestions(qs)">
                        <h4>{{q.literal}}</h4>
                        <table class="table table-bordered table-sm w-100 table-responsive">
                            <thead>
                                <tr class="row">
                                    <th class="col-sm-6">Answer</th>
                                    <th class="col-sm-2">Score</th>
                                    <th class="col-sm-2">Exclude</th>
                                    <th class="col-sm-2">Don't care</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="row" *ngFor="let a of q.answers">
                                    <td class="col-sm-6">{{a.literal}}</td>
                                    <td class="col-sm-2">
                                        <input type="radio" name="{{a.literal}}" id="{{a.literal}}-yes" [checked]="getAnswer(a.id)===1" (change)="selectAnswer(a.id,1)"
                                            value="1"></td>
                                    <td class="col-sm-2">
                                        <input type="radio" name="{{a.literal}}" id="{{a.literal}}-no" [checked]="getAnswer(a.id)===0" (change)="selectAnswer(a.id,0)"
                                            value="0"></td>
                                    <td class="col-sm-2">
                                        <input type="radio" name="{{a.literal}}" id="{{a.literal}}-neutral" [checked]="getAnswer(a.id)===-1" (change)="selectAnswer(a.id,-1)"
                                            value=""></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-exit"></i> Close</button>
                    <div class="alert alert-success" *ngIf="message==='saveSuccess'">Save successful</div>
                    <div class="alert alert-danger" *ngIf="message==='saveFailed'">Save failed</div>
                </div>
            </form>
        </div>
    </div>
</div>