<h2 class="form-signin-heading">Please sign in</h2>
<div class="row">
    <div class="col-sm-8">
        <form novalidate [formGroup]="loginForm" class="form-signin" (ngSubmit)="login(loginForm)">            
            <div class="form-group">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" formControlName="username" class="form-control" placeholder="Email address" required=""
                    autofocus="">
            </div>
            <div class="form-group">
                <label for="inputPassword" class="sr-only">Password</label>
                <input ngModel type="password" formControlName="password" id="inputPassword" class="form-control" placeholder="Password"
                    required="">
            </div>
            <div class="form-group">
                <div class="alert alert-danger" *ngIf="authError">Invalid credentials!</div>
                <button class="btn btn-lg btn-primary btn-block">Sign in</button>
            </div>
        </form>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-lg btn-block btn-primary" (click)="loginWithFacebook()"><i class="fa fa-facebook" aria-hidden="true"></i> Login with Facebook</button>
    </div>
</div>